body {
    background-color: rgb(233, 123, 160);
    margin: 0;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

.logo {
    font-size: 48px;
    color:aliceblue;
    text-align: center;
    height: 60px;
    padding: 20px;
}

.navbar ul {
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    padding-left: 35%;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(85, 84, 84);
}

.navbar li {
    float: left;
}

footer {
    margin: 20px;
    text-align: center;
    font-size: 14px;
}

